<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Pizzerias App</title>
    <link rel="icon" type="image/ico" href="Content/Images/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top container navbar-custom" style="background-color: red;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="allPizzeriasLogo" href="@Url.Action("Index", "Pizzerias")">
                    <img src='@Url.Content("~/Content/Images/logo.png")' style="background-color: white; width: 40px; height: 50px"  />
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Pizzerias", "Index", "Pizzerias")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @if(TempData["Message"] != null)
			{
                <div class="alert alert-info">
                    @TempData["Message"]
                </div>
			}
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Pizzerias App</p>
            @RenderSection("footer", required: false)
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
